html {
    font-family: Lato, Helvica;
    margin:2px 200px 50px 200px;
}

body {

}

ul {
    list-style-type:none;
    width:500px;
    margin:auto;
    padding:0 0 50px 0;
    overflow:hidden;
}

li {
    float:left;
}

li a {
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    color:#212122;
    /*color:white;*/
    font-weight:bold;
    /*background-color:#212122;*/
}

li a:hover {
    background-color:#212122;
    color:white;
}

.top {
    height:50px;
    width:50px;
    margin-bottom:0px;
    padding-bottom:0px;
}

.header {
    margin-top:0px;
    padding:0px 0px 20px 0px;
    text-align:center;
    height:90px;
}
